name: Check copyright headers

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'www/**'
      - '*.md'
      - '.editorconfig'
      - 'LICENSE'
      - 'install.sh'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'www/**'
      - '*.md'
      - '.editorconfig'
      - 'LICENSE'
      - 'install.sh'

jobs:
  copyright-check:
    runs-on: ubuntu-latest
    name: Check copyright headers
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
        with:
          go-version-file: 'go.mod'
          check-latest: 'true'
      - name: check license and headers
        run: |
          go install github.com/google/addlicense@v1.0.0
          addlicense -f LICENSE -c "buildtool" -ignore "**/*.yaml" -ignore "**/*.yml" -ignore ".github/*" -ignore "www/site/**" -y "2018" --check .
