name: Check copyright headers

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'www/**'
      - '*.md'
      - '.editorconfig'
      - 'LICENSE'
      - 'install.sh'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'www/**'
      - '*.md'
      - '.editorconfig'
      - 'LICENSE'
      - 'install.sh'

jobs:
  copyright-check:
    runs-on: ubuntu-latest
    name: Check copyright headers
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version-file: 'go.mod'
          check-latest: 'true'
      - name: check license and headers
        run: |
          go install github.com/google/addlicense@v1.0.0
          addlicense -f LICENSE -c "buildtool" -ignore "**/*.yaml" -ignore "**/*.yml" -ignore ".github/*" -ignore "www/site/**" -y "2018" --check .
