name: docs

on:
  push:
    tags:
      - 'v*'

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: 3.x
      - name: install mkdocs
        run: |
          pip install mkdocs-material
          pip install mkdocs-minify-plugin
      - name: build site
        run: |
          cd www
          mkdocs build
      - name: htmltest
        run: |
          cd www
          curl https://htmltest.wjdp.uk | bash
          ./bin/htmltest -c htmltest.yaml

      - name: Deploy site
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4
        with:
          personal_token: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ./www/site
          publish_branch: main
          external_repository: buildtool/buildtool.github.io
