name: Go

on:
  push:
    branches: [ main ]
    paths-ignore:
    - 'www/**'
    - '*.md'
    - '.editorconfig'
    - 'LICENSE'
    - 'install.sh'
  pull_request:
    branches: [ main ]
    paths-ignore:
    - 'www/**'
    - '*.md'
    - '.editorconfig'
    - 'LICENSE'
    - 'install.sh'

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: 'go.mod'
          check-latest: 'true'

      - name: Test
        run: |
          CGO_ENABLED=1 go test -p 1 -mod=readonly -race -coverprofile=coverage.txt -covermode=atomic -coverpkg=$(go list ./... | tr '\n' , | sed 's/,$//') ./...
          go tool cover -func=coverage.txt
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.txt
          flags: unittests
          fail_ci_if_error: true
          verbose: true
