name: Go

on:
  push:
    branches: [ main ]
    paths-ignore:
    - 'www/**'
    - '*.md'
    - '.editorconfig'
    - 'LICENSE'
    - 'install.sh'
  pull_request:
    branches: [ main ]
    paths-ignore:
    - 'www/**'
    - '*.md'
    - '.editorconfig'
    - 'LICENSE'
    - 'install.sh'

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
        with:
          go-version-file: 'go.mod'
          check-latest: 'true'

      - name: Test
        run: |
          CGO_ENABLED=1 go test -p 1 -mod=readonly -race -coverprofile=coverage.txt -covermode=atomic -coverpkg=$(go list ./... | tr '\n' , | sed 's/,$//') ./...
          go tool cover -func=coverage.txt
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.txt
          flags: unittests
          fail_ci_if_error: true
          verbose: true
