name: Check dependencies licenses

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'www/**'
      - '*.md'
      - '.editorconfig'
      - 'LICENSE'
      - 'install.sh'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'www/**'
      - '*.md'
      - '.editorconfig'
      - 'LICENSE'
      - 'install.sh'

jobs:
  license-check:
    runs-on: ubuntu-latest
    name: License and Copyright Check
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: 'go.mod'
          check-latest: 'true'

      - name: Get google/go-licenses package
        run: go install github.com/google/go-licenses@v1.0.0
        shell: bash

      - name: Check license
        run: go-licenses check ./...
